<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="assets/css/style.css">
<title>Help</title>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-3">Help Page</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur beatae quidem quam cum necessitatibus.</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
          <a class="btn btn-info btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia totam at vitae possimus eos, consequatur reprehenderit esse maiores explicabo sed commodi reiciendis consectetur culpa, consequuntur, pariatur aspernatur nisi. Eum, rem.
        </p>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>